<div id="<%= dom_id person %>">
  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>


  <p>
    <strong>Plants:</strong>
    <ul> 
      <% person.plants.each do |plant| %>
        <li>
          <%= plant.name %>
        </li>
      <% end %> 
    </ul>
  </p>

</div>
